header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    h2 {
        margin-left: 40px;
        font-size: 34px;
        font-weight: 700;
        color: $secondaryColor;

        span {
            display: block;
            margin-left: 60px; 
        }
    }

    .buttonImage {
        margin-top: 15px;
    }

    button {

    }

    img {
        position: absolute;
    }
}