.spreadsheet {
    margin-top: 20px;

    .background {
        height: 500px;

        p {
            display: none;
        }

        &.active {
            top: 85px;
            z-index: 1;
            position: relative;
            font-size: 26px;
            color: $secondaryColor;
            font-family: "Roboto Condensed", sans-serif;
            background-repeat: no-repeat;
            background-position: center; 
            background-image: url("../images/emptyState.png");

            p {
                top: 180px;
                left: 180px;
                position: relative;
                display: block;
    
                span {
                    display: block;
                }
            }
        }
    }


    table {
        z-index: 10;
        margin-top: -500px;
        width: 100%;
        position: relative;
        border-collapse: collapse;

        tr {
            background-color: white;

            :last-child {
                td:first-child {
                    border-radius: 0 0 0 10px;
                }
                td:last-child {
                    border-radius: 0 0 10px 0;
                }
            }
        }

        .header {
            color: $primaryColor;
            font-size: 16px;
            font-weight: 700;
            border-radius: 10px 10px 0 0;
            border-bottom: 2px solid $primaryColor;

            th {
                padding: 20px 0px;
                background-color: white; 

                &:first-child {
                    border-radius: 10px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 10px 0 0;
                }
            }
        }

        .register {
            border-bottom: 5px solid $background;

            &.-active {

                input, .month-cost{
                    background-color: $lightOrange;
                }

                md-autocomplete md-autocomplete-wrap md-progress-linear {
                    .md-mode-indeterminate input:not(.md-input) {
                        background-color: $lightOrange;
                    }
                }

                md-select {
                    .md-select-value {
                        background-color: $lightOrange;
                    }
                }
            }

            td {
                padding: 15px;
                background-color: white;

                .month-cost {
                    margin: auto;
                    height: fit-content;
                    padding: 0px 8px;
                    border-radius: 5px;
                    color: $secondaryColor;
                    background-color: $lightYellow;
                    outline-color: $orange;

                    span {
                        font-size: 14px;
                        font-weight: 700;
                        color: $secondaryColor;
                    }
                }

                a {
                    cursor: pointer;
                }
            }
        }
        

        span {
            display: block;
        }
    }

    .amount {
        display: flex;
        align-items: center;
        margin-top: 5px;
        padding: 30px 80px;
        border-radius: 10px;
        background-color: white;

        input {
            height: auto;
            font-size: 22px;
            font-weight: 300;
            background-color: transparent;
        } 

        span {
            font-weight: 700;
            font-size: 16px;
            color: $secondaryColor;
        }

        &.-consumption {
            margin-right: 8px;
        }
    }
}