header {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;

    h2 {
        display: flex;
        font-size: 38px;
        font-weight: 400;
        letter-spacing: -2px;
        color: $secondaryColor;
    }

    p {
        font-size: 24px;
        letter-spacing: -1px;
        color: $secondaryColor;
    }
}