<md-dialog aria-label="" flex="40" ng-init="getCompanies()">
    <form ng-cloak >
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    Para começar, informe sua companhia de energia
                    para podermos calcular sua tarifa ideal:
                </p>
                <md-select ng-model="energyCompanySelected">
                    <md-option ng-repeat="energyCompany in energyCompanies" ng-value="energyCompany">{{energyCompany.name}}</md-option>
                </md-select>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hideModal()">
                Calcular e economizar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>