<div class="container" flex-gt-md="80" flex="90" ng-init="getCompanies()">
    <header>
        <h2><span class="white-rate">Tarifa Branca</span>&nbspou&nbsp<span class="convencional-rate">Tarifa Convencional?</span></h2>
        <p>Preencha a tabela e descubra qual delas te fará economizar!</p>
    </header>
    <div class="spreadsheet">
        <div layout="row" layout-align="space-between center">
            <div flex="20" layout="row" layout-align="center center" class="selected-company">
                <span>Companhia Elétrica:</span>
                <md-select ng-model="energyCompanySelected" flex="50" ng-change="recalculateSpreadsheet()">
                    <md-option ng-repeat="energyCompany in energyCompanies" ng-value="energyCompany">{{energyCompany.name}}</md-option>
                </md-select>
            </div>
            <button ng-click="addRegister()">Adicionar Registro</button>
        </div>
        <div class="background" ng-class="{ 'active': registers.length==0}">
            <p>
                <span>Comece a calcular clicando no botão</span>
                Adicionar Registro acima da tabela
            </p>
        </div>
        <table>
            <thead>
                <tr class="header">
                    <th flex="15"><span>Aparelhos Elétricos</span> da Residência *</th>
                    <th>Potência Elética *</th>
                    <th>Quantidade *</th>
                    <th><span>Qtd de dias Utilizado</span> em um mês *</th>
                    <th><span>Horário de Início</span> da Utilização *</th>
                    <th><span>Tempo de Utilização</span> por dia *</th>
                    <th><span>Custo por mês</span> Tarifa Branca</th>
                    <th><span>Custo por mês</span> Tarifa Convencional</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="register in registers | orderBy:'id':true" class="register -active">
                    <td flex="15">
                        <md-autocomplete 
                        ng-disabled="false"
                        md-no-cache="true"  
                        md-search-text="register.applianceSearchText" 
                        md-items="appliance in electricalAppliances | filter: {'name': register.applianceSearchText}" 
                        md-item-text="appliance.name" 
                        md-min-length="0"
                        md-selected-item-change="getPower(register)"
                        md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                            <span> {{appliance.name}} </span>
                            </md-item-template>
                        </md-autocomplete>
                    </td>
                    <td >
                        <div layout="row" layout-align="center center">
                            <input flex="40" ng-model="register.power" ng-change="autoSave(register)" ng-blur="setMeasure(register)">
                            <md-select ng-model="register.measure" ng-change="autoSave(register)">
                                <md-option value="{{measure}}" ng-repeat="measure in measures">{{measure}}</md-option>
                            </md-select>
                        </div>
                    </td>
                    <td>
                        <div layout="row" layout-align="center center">
                            <input ng-model="register.quantity" flex="50" ng-change="autoSave(register)">
                        </div>
                    </td>
                    <td>
                        <div layout="row" layout-align="center center">
                            <input ng-model="register.daysOfUse" flex="35" ng-change="autoSave(register)">
                        </div>
                    </td>
                    <td> 
                        <div layout="row" layout-align="center center">
                            <input type="time" ng-model="register.startUse" ng-change="autoSave(register)"/>
                        </div>
                    </td>
                    <td>
                        <div layout="row" layout-align="center center">
                            <input type="time" ng-model="register.time" ng-change="autoSave(register)"/>
                        </div>
                    </td>
                    <td>
                        <div layout="row" layout-align="center center" flex="75" class="month-cost">
                            <span>R$</span>
                            <input type="number" step="any" ng-model="register.costWhiteRate" disabled>
                        </div>
                    </td>
                    <td>
                        <div layout="row" layout-align="center center" flex="75" class="month-cost">
                            <span>R$</span>
                            <input type="number" step="any" flex="95" ng-model="register.costConventionalRate" disabled>
                        </div>
                    </td>
                    <td>
                        <a ng-click="removeRegister(register)"><img src="images/trash.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div layout="row">
            <div flex="50" class="amount -consumption">
                <h3 flex="30">Consumo Total</h3>
                <div layou="row" layout-align="center end">
                    <input ng-model="totalConsumption" disabled>
                    <span>kWh/mês</span>
                </div>
            </div>
            <div flex="50" class="amount">
                <h3 flex="55">Valor Final da Fatura</h3>
                <div flex="20" layout="row" layout-align="center center">
                    <span>R$</span>
                    <input ng-model="totalCostWhiteRate" disabled>
                </div>
                <div flex="25" flex-offset="5" layout="row" layout-align="center center">
                    <span>R$</span>
                    <input flex="100" ng-model="totalCostConventionalRate" disabled>
                </div>
            </div>
        </div>
    </div>
</div>